$blackColor: #040404;
$darkGreyColor: #363636;
$goldColor: #9f6b08;
$lightGoldColor: #f9ce5c;
$lightGradient: linear-gradient(
	180deg,
	#d8d4ca 0%,
	rgba(217, 217, 217, 0) 100%
);
$whiteColor: #ffffff;
